
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="admin.component.css" >
</head>
<body>
   


      <a class="nav-link active" aria-current="page" routerLink="/create" href="#">Create Loan</a>
      <a class="nav-link active" aria-current="page" routerLink="/getloans" href="#">Loan List</a>
      <a class="nav-link active" aria-current="page" routerLink="/search" href="#">Search Loan</a>

     
        
</body>
</html>


   <!-- <a  routerLink="/getloans" href="#">Loan List</a> <br>
        <a  routerLink="/create" href="#">create</a> <br>
        
        <a  routerLink="/serach" href="#">SearchLoan</a> <br>
        <a  routerLink="/login" href="#">Log in</a>
        <a  routerLink="/signup" href="#">Sign Up</a> -->

